<h1>Title: <%= @post.title %></h1>

<h2>Content: <%= @post.content %></h2>

<h2>Comments:</h2>

<ul>
  <% @post.comments.each do |comment| %>
  <li><%= comment.user.username %> says: <%= comment.content %></li>
  <% end %>
</ul>

<h2>Users: </h2>
<% @post.users.each do |user| %>
  <li><%= user.username %></li>
<% end %>

<% form_for @post.comment %>  
